.ec-sliders {
	padding: 2rem;
}

.ec-slider-group {
	margin-bottom: 2rem;
}

.ec-slider-label {
	color: #405DE6;
	display: block;
	font-size: .8rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
}

.ec-slider-inputs {
	display: flex;
}

.ec-slider-number::-webkit-inner-spin-button, 
.ec-slider-number::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

.ec-slider-number {
    -moz-appearance:textfield;
}

.ec-slider-number {
	border: 2px solid #E1306C;
	color: #405DE6;
	font-variant-numeric: tabular-nums;
	padding: .5rem;
	text-align: right;
	width: 3.5rem;
}

.ec-slider-number:focus {
	box-shadow: 0 0 0 2px #E1306C;
	font-weight: bold;
	outline: none;
}

.ec-slider-range {
	background: transparent;
	border: none;
	margin: 5.5px 0;
	width: 100%;
	-webkit-appearance: none;
}

.ec-slider-range:focus {
	outline: none;
}

.ec-slider-range::-webkit-slider-runnable-track {
	background: #E1306C;
	cursor: pointer;
	height: 2px;
	width: 100%;
}

.ec-slider-range::-webkit-slider-thumb {
	background: white;
	border: 2px solid #405DE6;
	border-radius: 30px;
	cursor: pointer;
	height: 30px;
	margin-top: -15px;
	width: 30px;
	-webkit-appearance: none;
}

.ec-slider-range:focus::-webkit-slider-runnable-track {
	box-shadow: 0 0 0 1px #E1306C;
}

.ec-slider-range::-moz-range-track {
	background: #E1306C;
	cursor: pointer;
	height: 2px;
	width: 100%;
}

.ec-slider-range:focus::-moz-range-track {
	box-shadow: 0 0 0 1px #E1306C;
}

.ec-slider-range::-moz-range-thumb {
	background: white;
	border: 2px solid #405DE6;
	border-radius: 30px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.ec-slider-range::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 2px;
	width: 100%;
}

.ec-slider-range::-ms-fill-lower {
	background: #E1306C;
}

.ec-slider-range::-ms-fill-upper {
	background: #E1306C;
}

.ec-slider-range::-ms-thumb {
	background: white;
	border: 2px solid #405DE6;
	border-radius: 30px;
	cursor: pointer;
	height: 30px;
	width: 30px;
}

.ec-slider-range:focus::-ms-fill-lower {
	background: #E1306C;
}

.ec-slider-range:focus::-ms-fill-upper {
	background: #E1306C;
}

.ec-result {
	width: 100%;
}

.ec-result table {
	display: flex;
	flex-direction: column-reverse;
	border-collapse: collapse;
	border-spacing: 0;
}

.ec-result table tr {
	display: flex;
	width: 100%;
}

.ec-result table td {
	text-align: center;
	width: 50%;
}

.ec-result table thead td {
	color: #A0AEC0;
	font-size: .8rem;
	font-weight: bold;
	letter-spacing: 0.05rem;
	padding: 0 0 1rem;
	text-transform: uppercase;
}

.ec-result table tbody td {
	font-size: 2.5rem;
	font-variant-numeric: tabular-nums;
	padding: 1rem 0;
}

.ec-result-growth {
	color: #405DE6;
}

.ec-result-daily-growth {
	color: #E1306C;
}